<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="examEntities" connectionString="metadata=res://*/Exam.csdl|res://*/Exam.ssdl|res://*/Exam.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqlproject2022.database.windows.net;initial catalog=exam;persist security info=True;user id=team3;password=Team1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>